<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Informações Importantes</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/sigas.css}">

</head>

<body>

	<section layout:fragment="conteudo">

	<div class="informacao">

		<div align="center">
			<h1>
				<b>INFORMAÇÕES GERAIS DA REDE LA SALLE PARA<br> O
					PREENCHIMENTO DA BOLSA ASSISTENCIAL
				</b>
			</h1>
		</div>

			<p>
				A Rede La Salle criou a Plataforma LS Assistencial, a fim de
				valorizar a formação do ser humano, tendo em vista<br> a
				universalização do acesso à Educação e garantir a inclusão, a
				Legalidade e a publicidade aos órgãos Públicos<br> das
				informações inseridas.
			</p>

			<p>
				A análise do perfil socioeconômico familiar do pleiteante a bolsa
				Assistencial é realizada em conformidade com<br> a Lei
				Complementar 187/21 e Portaria Normativa 15/17 do MEC.
			</p>

			<p>
				<b>Orientações para o preenchimento da solicitação de bolsa:<br></b>
			</p>
			<p>
				1. Destacamos a importância de ler o Edital e acessar os tutoriais
				explicativos antes do preenchimento da solicitação de bolsa
				assistencial.<br>
			</p>

			<p>
				2. Separe a documentação exigida no edital (anexo III) por grau de
				parentesco e as principais despesas do Grupo Familiar.<br>
			</p>

			<p>
				3. Faça a digitalização (scanner) de cada documento individualizado,
				com boa visualização de modo que o acesso às informações seja
				nítido, separando-as pelos membros do grupo familiar. Esses arquivos
				deverão ter a extensão em PDF apenas, não sendo aceito outras
				extensões.<br>
				<!--Aqui ainda iremos apontar os links corretos -->
				<b>a) Como criar arquivo PDF pelo celular:</b> <a
					href="https://youtu.be/MkZGktHQqhc" target="_blank">Clique
					aqui</a> <br> <b>b) Como criar arquivo PDF pelo
					computador/notebook:</b> <a href="https://youtu.be/oNEVciV-LgU" target="_blank">Clique
					aqui</a> <br>
			</p>
			<p>
				4. Armazene os documentos em uma pasta em seu computador para
				realização do envio (upload) dos documentos na Plataforma LS
				Assistencial.<br>
			</p>

			<p>
				5. O e-mail usado para o acesso a Plataforma LS Assistencial será
				usado no contato da Unidade Educativa com o
				aluno/candidato/responsável. <br>A Rede La Salle não se
				responsabiliza por e-mail cadastrado errado.<br>
			</p>

			<p>
				6. A solicitação de bolsa é para o candidato/aluno. No caso de
				irmãos pleiteantes a bolsa assistencial, então deverá ser preenchido
				mais de uma solicitação de bolsa.<br>
			</p>

			<p>
				7. Poderá ser solicitada, pelo(a) Assistente Social ou Comissão
				Interna de Bolsa Social, documentação complementar, fora as
				descritas no edital; e <br>deverão ser enviadas pela Plataforma
				LS Assistencial na Etapa Upload de documentos, não sendo aceita de
				outra forma.<br>
			</p>

			<p>
				<b>A seguir veja as Etapas presentes na solicitação de bolsa
					assistencial:</b>
			</p>


			<table border="0" width="100%" cellpadding="10">
				<tr>

					<td width="50%" valign="top"><img th:src="@{/layout/images/imagem01.png}"
						width="500" height="300"></td>

					<td width="200%" valign="top">
						<p>
							8. Os campos marcados com (*) são de preenchimento obrigatório.<br>
						</p>

						<p>
							9. Apenas na etapa Responsável Financeiro é que poderá voltar
							para a tela anterior.<br>
						</p>

						<p>
							10. As suas informações serão salvas ao avançar cada etapa.<br>
						</p>

						<p>
							11. Caso perca a conexão com o sistema ou deixe para completar
							depois, basta acessar a etapa que mostrar este ícone .<br>
						</p>
						<!-- <img th:src="@{/layout/images/imagem02.png}" width="600" height="80"> -->
						
					</td>


				</tr>
			</table>
	</div>
	</section>
</body>
</html>



