<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Cadastro das Séries do Processo Seletivo</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}">
	<link rel="stylesheet" type="text/css" th:hred="@{/stylesheets/sigas.css}">	
	
</head>	

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
		  <div class="row">
		    <div class="col-xs-10">
				  <h1>Processos Seletivos</h1>
			</div>  
			<div class="col-xs-2">
				<div class="aw-page-header-controls">
<!-- 					<a class="btn  btn-default" th:href="@{/processos/novo}">
						<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Cadastrar Processo Seletivo</span>
					</a>
 -->				</div>
			</div>
		  </div> 
		</div>
		</div>
		
	<div class="container-fluid">
		<a class="btn btn-success btn-lg mt-2 ml-2 botao-novo-processo-seletivo"  th:href="@{/processos/novo}" sec:authorize="hasRole('ROLE_VISUALIZAR_DADOS_ASSISTENTE')">
			<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo Processo Seletivo</span>
		</a>
<!-- 		<button type="button" class="btn btn-success btn-lg mt-2 ml-2" data-toggle="modal" data-target=".bd-aluno-modal-sm">Novo Processo Seletivo</button> -->
	</div>		

	<div class="container-fluid">	
		<form method="get" th:object="${processoSeletivoFilter}">
		
			<div class="row">
				<div class="form-group col-sm-2">
					<label class="control-label">Ano de Vigência</label>
					<input class="form-control js-ano" type="text" id="ano_vigencia" th:field="*{anoVigencia}">
				</div>

				<div class="form-group col-sm-2">
					<label class="control-label">Unidade Federativa</label>
					<select class="form-control" id="uf" th:field="*{uf}">
						<option value="">Todas as Unidades</option>
						<option value="AM">AM</option>
						<option value="DF">DF</option>
						<option value="MA">MA</option>
						<option value="MT">MT</option>
						<option value="PA">PA</option>
						<option value="PR">PR</option>
						<option value="RJ">RJ</option>
						<option value="RS">RS</option>
						<option value="SC">SC</option>
						<option value="SP">SP</option>
					</select>
				</div>

				
				<div class="form-group col-sm-4">
					<label class="control-label">Unidade Escolar</label>
					<select class="form-control" id="unidade" th:field="*{unidade}">
						<option value="">Todas as Unidades</option>
						<option th:each="unidade : ${unidades}" th:value="${unidade.id}" th:text="${unidade.nome}" >
					</select>
				</div>
				
				<div class="form-group col-sm-4">
					<label class="control-label"  for="tipo_processo">Tipo do Processo</label>
					<select id="tipo_processo" class="form-control" th:field="*{tipoProcesso}">
						<option value="">Todos os tipos</option>
						<option th:each="tipo : ${tipos}" th:value="${tipo.id}" th:text="${tipo.descricao}">
					</select>
				</div>
			
			</div>
		
			<button type="submit" class="btn btn-primary">Pesquisar</button>
		</form>

		<div class="table-responsive  bw-tabela-simples tabela-simples">
			
			<!-- <font color="red"> <i class="glyphicon glyphicon-user"></i> Opção disponível somente para processos com unidades x funcionários vinculados </font> -->
			<table class="table  table-hover">
				<thead> 
					<tr>
						<th>Id</th>
<!-- 						<th>
							<a th:href="${pagina.urlOrdenada('descricao')}">Nome Processo
								<span class="drop"><span class="caret"></span></span>
							</a>							
						</th>
						<th>
							<a th:href="${pagina.urlOrdenada('unidade.uf')}">UF
									<span class="drop"><span class="caret"></span></span>
							</a>	
						</th>
						<th>
							<a th:href="${pagina.urlOrdenada('unidade.nome')}">Unidade
									<span class="drop"><span class="caret"></span></span>
							</a>	
						</th> -->
						<th>Nome Processo</th>
						<th>UF</th>
						<th>Unidade</th>
						<th>Tipo Processo</th>
						<th>Incluir Séries</th>
						<th>CIBS</th>
						<th>Status</th>
						<th>Solicitações</th>
					</tr>
				</thead>
				 
				<tbody>
					<tr th:each="processo : ${pagina.conteudo}">
		
						<td class="text-center" th:text="${processo.id}"></td>
						<td th:text="${processo.descricao}"></td>
						<td th:text="${processo.unidade.uf}"></td>
						<td th:text="${processo.unidade.nome}"></td>
						<td th:text="${processo.tipoProcesso.descricao}"></td>
						<!-- <td th:text="${processo.divulgacaoEdital}"></td> -->

						<td class="text-center">
							<a th:href="@{/detalhesProcessos/novo/processo/{idProcesso}(idProcesso=${processo.id})}" class="btn  btn-link  btn-xs" title="Cadastrar Séries"> 
								<i class="glyphicon glyphicon-th-list"></i>
							</a>
						</td>
						<td class="text-center">
							<a th:href="@{/comissao/novo/processo/{id}(id=${processo.id})}" class="btn  btn-link  btn-xs" title="Cadastrar Pessoas"> 
 								<i class="glyphicon glyphicon-user"></i>
							</a>
						</td>
						<td>
							<th:block th:if="${processo.processoIniciado}">
								<span class="label label-success">Iniciado</span>
							</th:block>
							<th:block th:unless="${processo.processoIniciado}">
								<span class="label label-primary">Não Iniciado</span>
							</th:block>
						</td>
						<td align="center">
							<a class="btn  btn-link  btn-xs js-tootip " title="Inscrições" th:href="@{/processos/avaliar/{id}(id=${processo.id})}"> 
								<i class="glyphicon glyphicon-duplicate"></i>
							</a>
						</td>
						<td class="text-center">
							<a class="btn  btn-link  btn-xs js-tootip " title="Editar" th:href="@{/processos/{id}(id=${processo.id})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/processos/{id}(id=${processo.id})}"
									data:objeto="${processo.descricao}" 
									>
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
						
					</tr>
					
					
					<tr th:if="${pagina.vazia}">
						<td colspan=6><font color="red">Nenhum Processo Encontrado</font></td>
					</tr>
					
				</tbody>
			</table>
		</div>	
		
		<div class="col-sm-12 text-center" th:if="${not pagina.vazia}" >
			<nav>
				<ul class="pagination pagination-sm" th:with="paginaAtual=${pagina.atual}">
					<li th:class="${pagina.primeira} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a>
					</li>
					
					<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}">
						<li th:class="${paginaAtual == numeroPagina} ? active">
							<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
						</li>
					</th:block>
				
					<li th:class="${pagina.ultima} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a>
					</li>
				</ul>
			</nav>
		</div>
	
	
	</div>


</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.maskMoney.js}"></script>
	<script th:src="@{/javascripts/sigas.js}"></script>
	<script th:src="@{/javascripts/pesquisa-unidade.js}"></script>
</th:block>	
</body>

</html>