<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Cadastro Inicial</title>

    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
  	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/timeline.css}">

</head>
<body>

<section layout:fragment="conteudo">

<div th:replace="timeline/timeline :: timeline"></div>	

<div class="page-header">
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-sm-10">
	    	<h1>Informações Iniciais</h1>
 		</div>  
	  </div>
	</div>
</div>

	<th:block th:replace="fragments/MensagensSucesso :: messageSuccess"></th:block>

<div class="container-fluid">

	<!-- <div class="alert  alert-danger  alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<i class="fa  fa-exclamation-circle"></i> Já existe uma reserva com o nome informado.
	</div> -->

<!-- 	<form method="POST" th:object="${usuario}" class="form-vertical  js-form-loading"> -->
	
	<form method="post" th:action="@{/solicitante/dadosIniciais}" th:object="${dadosIniciaisSolicitante}" >	
	
	<th:block th:replace="fragments/MensagensErroValidacao :: messageErro"></th:block> 
	
			<div class="panel panel-default">
						<div class="panel-heading"><h4>Informações adicionais para início da solicitação da Bolsa Social. <small><font color="red"></font></small></h4></div>
						  <div class="panel-body">
							<div class="row">	
								<div class="col-sm-3" >
									<div class="form-group">
										<label class="control-label" for="input-estado-unidade">Estado da Unidade <font color="red">*</font> </label> 
										<select id="input-estado-unidade"  class="form-control" th:field="*{uf}">
											<option value="">Selecione o Estado </option> 
											<option th:each = "uf : ${lista}" th:value="${uf}" th:text="${uf}">DF</option> 
										</select>
									</div>
								</div>
								
								<div class="col-sm-3" >
									<div class="form-group">
										<label class="control-label" for="input-unidade">Unidade <font color="red">*</font></label> 
										<select id="input-unidade"  class="form-control" th:field="*{unidade}" >
											<option value="">Selecione a Unidade </option> 
											<!-- <option th:each = "unidade : ${unidades}" th:value="${unidade.id}" th:text="${unidade.nome}" >  -->
										</select>
									</div>
								</div>
		
								<div class="col-sm-3" >
									<div class="form-group">
										<label class="control-label" for="input-responsavel_bairro">Processo Seletivo <font color="red">*</font></label> 
										<select id="input-processo-seletivo"  class="form-control" th:field="*{processoSeletivo}" >
											<option value="">Selecione o Processo </option> 
										</select>
									</div>
								</div>
								<div class="col-sm-3" >
									<div class="form-group">
										<label class="control-label" for="input-responsavel_bairro">Série / Curso <font color="red">*</font></label> 
										<select id="input-serie"  class="form-control" th:field="*{detalhesProcessoSeletivo}">
											<option value="">Selecione a Série </option> 
										</select>
									</div>
								</div>
							</div>	
							<div class=row>
								<div class="col-sm-12">
								  <small><font color="red">(*) É obrigatório selecionar as informações acima</font></small>
								</div> 
							</div>
					  </div>
					</div>     
                     		
	    <div class="form-group">
	    
<!-- 			<a th:href="@{/candidatos/edital}" class="btn btn-primary" role="button">Avançar</a> -->
		
			<button class="btn  btn-primary" type="submit">Avançar</button>
		</div>
	</form>
</div>


</section>


<th:block layout:fragment="javascript-extra">
  <script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
  <script th:src="@{/javascripts/vendors/jquery.maskMoney.js}"></script>
  <script th:src="@{/javascripts/sigas.js}"></script>
  <script th:src="@{/javascripts/pesquisa-unidade.js}"></script>
  <script th:src="@{/javascripts/pesquisa-processos-seletivos.js}"></script>
  <script th:src="@{/javascripts/pesquisar-detalhes-processo-seletivo.js}"></script>
  
  <script>
	$('.js-status').bootstrapSwitch();  
  </script>
</th:block>
	


</body>
</html>