<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="'layout/LayoutPadrao'">
	
<head>
	<title>Cadastro de Responsável Financeiro</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/sigas.css}">
  	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/timeline.css}">	    
 </head>	

<body>

	<section layout:fragment="conteudo">		

			<div class="page-header">
				<div class="container-fluid">
				  <div class="row">
				    <div class="col-sm-10">
	 				  <h1>Responsável Financeiro / Contratante</h1>
 	 				  <h5><font color="blue">Protocolo: <span th:text="${protocolo}"></span></font></h5>
 	 				  <h5><font color="blue">Candidato - Aluno: <span th:text="${candidato}"></span></font></h5>
	 				  
					</div>  
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
								<div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
			                        <div class="inner-circle"></div>
			                        <p class="h6 mt-3 mb-1">7ª Etapa</p>
			                        <!-- <p class="h6 text-muted mb-0 mb-lg-0">Cadastro do Responsável Financeiro</p> -->
			                    </div>						
			                </div>    
		                </div>
					</div>
				  </div> 
				</div>
			</div>


			
			<th:block th:replace="fragments/MensagensSucesso :: messageSuccess"></th:block>


			<div class="container-fluid">

				<form method="POST" th:object="${responsavelFinanceiro}" th:action="@{/responsavel-financeiro/novo}" class="form-vertical  js-form-loading">
					<th:block th:replace="fragments/MensagensErroValidacao :: messageErro"></th:block> 
					
					
				<input type="hidden" th:field="*{id}">	
				<div class="row">
					<div class="col-sm-10">
					</div>
					<div class="col-sm-2">
						<font color="red">(*) Campos Obrigatórios</font>
					</div>
				</div>						

					<div class="row">
					
					   <div class="col-sm-9" >
							<div class="form-group">
								<label class="control-label" for="input-responsavel-nome">Nome:<font color="red">*</font></label> 
								<select class="form-control js-nome-componente-familiar" th:field="*{nome}"
								 data:url="@{/responsaveis/pesquisar-nome}" data:url2="@{/composicao-familiar}" >
								    <option value="">Selecione um componente familiar</option>
									<option th:each="nome : ${nomes}" th:value="${nome}" th:text="${nome}" >Marco</option>
								</select>
							</div>
					   </div>		
					   
							
					</div>

					<div class="row">
					
						<div class="col-sm-3" >
							<div class="form-group">
								<label class="control-label" for="input-responsavel-cpf">CPF:<font color="red">*</font></label> 
								<input
			 						id="input-responsavel-cpf" type="text" class="form-control js-input-cpf" th:field="*{cpf}" />
							</div>
						</div>						
						<div class="col-sm-3" >
				               <div class="form-group">
					    	      <label class="control-label">Data de Nascimento:<font color="red">*</font></label>	
								  <div class="input-group date" data-provide="datepicker" data-date-language="pt-BR" id="input-data-nascimento"
							              data-date-today-highlight="true" data-date-autoclose="true" data-date-orientation="bottom">
								      <input type="text" id="data-nascimento" class="form-control js-date"  autocomplete="off" placeholder="Data de Nascimento" th:field="*{dataNascimento}">
								      <div class="input-group-addon">
								         <span class="glyphicon glyphicon-th"></span>
								      </div>
								   </div>
								</div>   
							</div>

		 				<div class="col-sm-3" >
							<div class="form-group">
								<label class="control-label" for="input-responsavel_celular">Celular:<font color="red">*</font></label> <input
									id="input-responsavel_celular" type="text" class="form-control js-formatar-telefone" th:field="*{celular}"/>
							</div>
						</div>
						
						<div class="col-sm-3" >
							<div class="form-group">
								<label class="control-label" for="input-rg">Telefone:</label> <input
									id="input-responsavel-cep" type="text" class="form-control js-formatar-telefone" th:field="*{telefone}" />
							</div>
						</div>
						
					</div>

					<div class="row">

						<div class="col-sm-3" >
							<div class="form-group">
								<label class="control-label" for="input-rg">Nacionalidade:<font color="red">*</font></label>
								<select id="input-nacionalidade" class="form-control" th:field="*{nacionalidade}">
									<option value="">Selecione...</option>
									<option th:each="nacionalidade : ${nacionalidades}" th:value="${nacionalidade.id}" th:text="${nacionalidade.descricao}">Brasil</option>
								</select>
							</div>
						</div> 
 
						<div class="col-sm-2">
							<div class="form-group" th:classappend="${#fields.hasErrors('ufNaturalidade')} ? has-error">
								<label class="control-label">UF Naturalidade:<font color="red">*</font></label>
								<select id="uf-naturalidade" class="form-control" th:field="*{ufNaturalidade}"  data:url="@{/municipios}" >
									<option value="">Selecione...</option>
									<option th:each="uf : ${ufs}" th:text=${uf.uf} th:value=${uf.uf} >
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group" th:classappend="${#fields.hasErrors('naturalidade')} ? has-error">
								<label class="control-label">Naturalidade:<font color="red">*</font></label>
								<select class="form-control" th:field="*{naturalidade}" id="naturalidade" >
									<option value="">Selecione...</option>
									<!-- <option th:each="municipio : ${municipios}" th:text=${municipio.municipio} th:value=${municipio.municipio} > -->
								</select>
							</div>
						</div>

						<div class="col-sm-3" >
							<div class="form-group">
								<label class="control-label" for="input-rg">Profissão:<font color="red">*</font></label> <input
									id="input-responsavel-profissao" type="text" class="form-control" th:field="*{profissao}"/>
							</div>
						</div>
						
					</div>
					
					<div class="row">
							<div class="col-sm-3" >
								<div class="form-group">
									<label class="control-label" for="input-rg">Email:<font color="red">*</font></label> <input
										id="input-responsavel-cep" type="text" class="form-control " th:field="*{email}"/>
								</div>
							</div>
							<div class="col-sm-3">
								<label class="control-label">RG:</label>
								<input class="form-control" type="text" id="input-rg" th:field="*{rg}">
							</div>
							<div class="col-sm-3">
								<label class="control-label">Órgão Emissor:</label>
								<input class="form-control" type="text" id="orgao-emissor" th:field="*{orgaoEmissor}">
							</div>
							<div class="col-sm-3">
								<div class="form-group">
					    	      <label class="control-label">Data de Emissão:</label>	
								  <div class="input-group date" data-provide="datepicker" data-date-language="pt-BR" 
							              data-date-today-highlight="true" data-date-autoclose="true" data-date-orientation="bottom">
								      <input type="text" id="data-emissao" class="form-control js-date"  autocomplete="off" placeholder="Data de Emissão" th:field="*{dataEmissao}">
								      <div class="input-group-addon">
								         <span class="glyphicon glyphicon-th"></span>
								      </div>
								   </div>
								</div>   
							</div>
						</div>		
									 
							<div class="list-group">
							  <div class="list-group-item active">
							    <h4 class="list-group-item-heading">Atenção:</h4>
							    <p class="list-group-item-text">
							    Prezado(a), antes de gravar e avançar confira os dados informados nesta etapa. Não será possível retornar neste formulário para alterações.
							  </div>
							</div>	 					

					<div class="form-group">
						<a th:href="@{/composicao-familiar/novo}" class="btn btn-primary">Voltar</a>
						<button class="btn  btn-primary" type="submit">Gravar e Avançar</button>
 					</div>
 					
				  <div>
					  					   	
				  </div>
				</form>
				</div>					
	

</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script th:src="@{/javascripts/sigas.js}"></script>
	<script th:src="@{/javascripts/buscar-componente-familiar.js}"></script>
	<script th:src="@{/javascripts/buscar-responsavel-nome.js}"></script>
	<script th:src="@{/javascripts/buscar-municipio.js}"></script>
	<script th:src="@{/javascripts/noback.js}"></script>	
	
	
</th:block>

</body>
</html>