<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="'layout/LayoutPadrao'">
	
<head>
	<title>Cadastro dos Bens Móveis</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/sigas.css}">
  	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/timeline.css}">	    
 </head>	

<body>

	<section layout:fragment="conteudo">		

			<div class="page-header">
				<div class="container-fluid">
				  <div class="row"> 
				    <div class="col-sm-10">
	 				  <h1>Bens Móveis<font color="blue"><h5><span>.  (Ver no Edital de bolsa, anexo III o Item Demonstração de Patrimônio)</span></h5></font></h1>
	 				  <h5><font color="blue">Protocolo: <span th:text="${protocolo}"></span></font></h5>
 	 				  <h5><font color="blue">Candidato - Aluno: <span th:text="${candidato}"></span></font></h5>
					</div>  
					<div class="col-sm-2">
						<div class="aw-page-header-controls"> 
							<div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
								<div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
			                        <div class="inner-circle"></div>
			                        <p class="h6 mt-3 mb-1">9ª Etapa</p>
			                     <!--    <p class="h6 text-muted mb-0 mb-lg-0">Cadastro dos Bens Móveis</p> -->
			                    </div>						
			                </div>    
		                </div>
					</div>
				  </div> 
				</div>
			</div>


			
			<th:block th:replace="fragments/MensagensSucesso :: messageSuccess"></th:block>
			
			


			<div class="container-fluid">
			

				<form method="POST"  th:object="${bemMovel}" class="form-vertical  js-form-loading" th:action="@{/bem-movel/novo}">
					
				<th:block th:replace="fragments/MensagensErroValidacao :: messageErro"></th:block> 
	
					<input type="hidden" th:field="*{id}">
					<div class=row>
							<div class="col-sm-6" >
								<div class="form-group">
									<label class="control-label">Modelo:</label>
									<input id="nome" name="nome" class="form-control" th:field="*{modelo}" />
								</div>
							</div>
							<div class="col-sm-3" >
								<div class="form-group">
									<label class="control-label">Ano Fabricação:</label>
									<input id="nome" name="nome" class="form-control js-ano" th:field="*{anoFabricacao}" />
								</div>
							</div>
   						    <div class="form-group col-sm-3">
							   	  <button th:if="${bemMovel.novo}" type="submit" class="btn btn-success botao">Adicionar</button>	
							   	  <button th:unless="${bemMovel.novo}" type="submit" class="btn btn-success botao">Alterar</button>	
			   				</div>
						</div>					
				
				</form>
				
<table class="table table-hover table-consulta">
       <thead>
       	  <tr>
       	    <th>Id</th>
       	    <th>Modelo</th>
       	    <th>Ano Fabricação</th>
       	  </tr> 	
       </thead>
       
       <tbody>
          <tr th:each="bemMovel : ${bensMoveis}">
            <td th:text="${bemMovel.id}">01</td>
            <td th:text="${bemMovel.modelo}">Gol Sedan 1.0</td>
            <td th:text="${bemMovel.anoFabricacao}">2011</td>
			<td class="text-center">
				<a th:href="@{/bem-movel/{id}(id=${bemMovel.id})}" class="btn  btn-link  btn-xs js-tooltip" title="Editar">
				   <i class="glyphicon glyphicon-pencil"></i>
				</a>
				<a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn " title="Excluir" href="#"
					data:url="@{/bem-movel/{id}(id=${bemMovel.id})}"
					data:objeto="${bemMovel.modelo}">
					<i class="glyphicon glyphicon-remove"></i>
				</a>
			 </td>        
          </tr> 
          <tr th:if="${#lists.isEmpty(bensMoveis)}">
          	 <td colspan=3><font color="red">Nenhum bem móvel cadastrado</font></td>
          </tr> 
       </tbody>
     </table>

	<div class="form-group">
			<!-- <button class="btn  btn-primary" type="submit">Avançar</button> -->
			<a th:href="@{/bem-movel/direcionar}" class="btn btn-primary">Avançar</a>
			<!-- <a href="pesquisa-responsaveis.html" class="btn  btn-default">Cancelar</a> -->
 	</div>				
				
			</div>
	</section>
	
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script th:src="@{/javascripts/sigas.js}"></script>
	<script th:src="@{/javascripts/buscar-endereco.js}"></script>
</th:block>	
</body>
</html>				